
.ss-Test {

}

.ss-Test_Inner {

	color: #WRONG;
	background: #FFF
}

.we-all-do-it {
    display:block;
    transition : opacity .2s;
    color: #f90;
    background-color: #333; 
    transition: background-color .3s;
}

.another-rule {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.single-line { color: #FFF; }

body{
	content: 'content';
}



 